.watchlist-container {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  padding: 1rem;
}

.watchlist-container h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.watchlist-table {
  width: 100%;
  border-collapse: collapse;
}

.watchlist-table th,
.watchlist-table td {
  padding: 0.75rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.watchlist-table th {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

.watchlist-card-photo {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.watchlist-card-remove-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 0.875rem;
}

.watchlist-card-remove-button:hover {
  background-color: #c62828;
}

.watchlist-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.pagination-controls button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
}

.pagination-controls button:disabled {
  background-color: #a5d6a7;
  cursor: not-allowed;
}

.pagination-controls span {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

.payment-section {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid #ddd;
  text-align: right;
}

.payment-section h2 {
  margin-bottom: 1rem;
  color: black;
}
.payment-section p{
  color: black;
  font-size: 1rem;
}
.payment-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.payment-button:hover {
  background-color: #388e3c;
}
