.latest-tuition-centers {
    padding: 2rem;
    background-image: url("../../assets/home/latesttuitioncenter/img3.jpg");
    background-size: cover;
    }
  
  .latest-tuition-centers h1 {
    display: flex;
    font-size: 2rem;
    justify-content: center;
  }
  
  .centers-slider {
    display: flex;
    width: 100%;
    align-items: center;
    border: 5px solid white;
  }
  
  .slider-button {
    background-color: #2b2a2a;
    border: none;
    color: white;
    padding: 16px 20px;
    border-radius: 80px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .centers-list {
    display: flex;
    overflow: hidden;
    padding: 1rem;
    margin: auto;
  }
  
  .tuition-center-card {
    padding: 16px;
    min-width: 16rem;
    height: 23rem;
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 10px rgba(10, 10, 10, 0.8),
    -1px -1px 3px rgba(5, 5, 5, 0.8);
    border-radius: 8px;
    margin: 16px;
    text-align: center;
    background: rgba(156, 175, 136, 0.5);
    background: rgba(236, 235, 235,0.3);
  }
  
  .tuition-center-card h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  
  .tuition-center-photo {
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .tuition-center-card p {
    color: black;
    margin: 0.5rem 0;
  }
  
  .tuition-center-card span {
    display: block;
    margin: 0.2rem 0;
  }
  
  