@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.main-footer{
  background-color: #333;
  color: #fff;
}
.section-p1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  background-color: #333;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.section-p1 .col {
  flex: 1;
  /* margin: 1rem; */
  min-width: 150px;
}

.logofooter {
  width: 80px;
  /* margin-bottom: 1rem; */
}

h4 {
  font-size: 1.2rem;
}

p, a {
  /* margin: 0.5rem 0; */
  font-size: 0.9rem;
  color: #ccc;
  text-decoration: none;
}

p strong {
  color: #fff;
}

a {
  color: #ccc; 
}

a:hover {
  text-decoration: underline;
}

.follow .icon {
  margin-top: 1rem;
}

.follow .icon svg {
  font-size: 1.5rem; /* Adjust size as needed */
  margin-right: 1rem;
  color: #fff;
}

.follow .icon svg:hover {
  color: #ff6347; /* Change color on hover */
}

.payment-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
}

.payment-icons svg, .payment-icons img {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Ensure consistent height */
  margin-right: 1rem;
  transition: color 0.3s, transform 0.3s; /* Smooth transition */
}

.payment-icons img {
  max-height: 40px; /* Ensure consistent height */
}

.payment-icons .visa:hover {
  color: #1a1f71; /* Blue color for Visa */
}

.payment-icons .mastercard:hover {
  color: #ec1c24; /* Red color for MasterCard */
}

.payment-icons .paypal:hover {
  color: #003087; /* Blue color for PayPal */
}


.payment-icons img:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

/* Styling for My Account and About links to be vertical */
.section-p1 .col h4 {
  margin-bottom: 1rem;
}

.section-p1 .col a {
  display: block;
}

#install .row img {
  width: 120px;
  margin-right: 0.5rem;
}

#install img {
  width: 150px;
  margin-top: 1rem;
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 2rem;
  color: #ccc;
}

/* Responsive styling */
@media (max-width: 768px) {
  .section-p1 {
    flex-direction: column;
    align-items: center;
  }

  .section-p1 .col {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .payment-icons {
    justify-content: center; /* Center icons on smaller screens */
  }
}
