.hiringlist {
    margin: 5rem 0;
    
   
  }
  
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .card-container {
    flex: 0 1 280px;
    margin: 10px;
    background: linear-gradient(150deg, #39ef74, #4600f1 100%);
    border-radius: 20px;
  }
  
  .card {
    font-weight: bold;
    position: relative;
    width: 100%;

  }
  
  .card a {
    padding: 30px;
    width: 100%;
    height: 450px;
    border:none;
    border-radius: 20px;
    background: linear-gradient(150deg, #39ef74, #4600f1 100%);
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.25s ease;
  }
  
  .card a:hover {
    transform: translate(-30px, -30px);
    border-color: #5bc0eb;
    border: 2px solid #5bc0eb;
    text-decoration: none;
    list-style: none;
  }
  
  .card a:hover .card--display {
    display: none;
  }
  
  .card a:hover .card--hover {
    display: block;
  }
  
  .card--display i {
    font-size: 60px;
    margin-top: 200px;
  }
  
  .card--display h2 {
    margin: 20px 0 0;
  }
  
  .card--hover {
    display: none;
  }
  
  .card--hover h2 {
    margin: 20px 0;
  }
  
  .card--hover p {
    font-weight: normal;
    line-height: 1.5;
    text-decoration: none;
    color: #fff;
}

.card--hover button {
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
  display: block;
  margin-bottom:4px;
  color: #4600f1;
  border-radius: 50px;
  padding: 1rem;
  background: white;
  border: none;
  font-weight: bold;
  }
  
  .card--border {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border: none;
      z-index: -1;
    }
    
  .card--dark a {
    color: white;
    background-color: black;
    border-color: black;
}

.card--dark .card--hover .link {
    color: #64cae7;
  }