.header-section {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.header-images {
  position: relative;
  height: 100%;
}

.header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.header-image.active {
  opacity: 1;
}
.intro-section {
  text-align: center;
  padding: 40px 20px;
  margin: 2rem;
  background-color: #f9f9f9;
}


.intro-section h1 {
  font-size: 2.5em;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px; 
}

.intro-section p {
  font-size: 1.4em;
  font-family: "Varela Round", sans-serif; 
  line-height: 1.5;
  color:#808080;
}
