.header-section {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.header-images {
  position: relative;
  height: 100%;
}

.header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.header-image.active {
  opacity: 1;
}

.intro-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.latest-products, .categories, .banner, .more-section {
  padding: 40px 20px;
}

.latest-products h2, .categories h2, .banner h2, .more-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.more-section {
  background-color: #f1f1f1;
}

.more-section ul {
  list-style-type: none;
  padding: 0;
}

.more-section ul li {
  margin: 10px 0;
  font-size: 1.2em;
  text-align: center;
}
.tutors-section{
  /* display: flex; */
  padding: 2rem;
}
.tutors-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tutor-card {
  padding: 16px;
  min-width: 15rem;
  background-color: #ddd;
  border: 1px solid #ddd;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
  border-radius: 8px;
  margin: 16px;
  text-align: center;
}
.tutor-card .avaliability{
  color: green;
  font-weight: 800;
}
.tutor-card .ratings{
  color: rgb(243, 181, 25);
  font-size: 17px;
}
.tutor-photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.tutor-fees {
  text-align: left;
}
