.main-container{
  padding: 2rem;
  background: Linear-gradient(180deg, #7bafeb 26.71%,#063970 99.36%);
}
.login-container {
  margin: 1rem auto;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 2px 10px 1px #0f0f0f;
  display: flex;
  flex-direction: row;
}
.login-image{
  display: flex;
  flex: 0.6;

}
.login-content{
  display: flex;
  flex: 0.5;
  flex-direction: column;
  align-items: center;
}
.login-container input {
  width: 100%;
  padding: 0.76rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

/* Styling for a  buttons */
.login-container button {
  width: 100%;
  padding: 0.75rem;
  background-color: #ff6347;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.login-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.login-container p {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.login-container p.error {
  color: #d9534f;
}

.login-container p.success {
  color: #5cb85c;
}

/* Responsive styling */
@media (max-width: 768px) {
  .login-container {
    min-height:380px;
    padding: 1rem;
    margin: 4rem auto;
  }

  .login-container input {
    font-size: 0.9rem;
  }

  .login-container button {
    font-size: 0.9rem;
  }
}
