.payments-page {
    display: flex;
    height: 100vh;
  }
  
  .payments-image {
    flex: 1;
    background: url('../assets/payment/img.webp') center center / cover no-repeat;
  }
  
  .payments-container {
    flex: 1;
    padding: 2rem;
    background-color: #f4f4f4;
    border-radius: 15px;
    margin: 2rem auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .create-payment, .update-payment {
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .create-payment h2, .update-payment h2 {
    color: #333;
  }
  
  .create-payment input, .update-payment input, .update-payment select {
    width: calc(100% - 2rem);
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  button {
    background-color: #46769b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #456a86;
  }
  
  .payment-list {
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .payment-card {
    background-color: #000;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .payment-card:hover {
    transform: translateY(-5px);
  }
  
  .payment-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }
  
  .payment-icons svg {
    color: white;
    font-size: 1.5rem;
  }
  
  @media (max-width: 768px) {
    .payments-page {
      flex-direction: column;
    }
  
    .payments-image {
      display: none;
    }
  
    .payments-container {
      width: 100%;
      padding: 1rem;
    }
  }
  