.main-perfect {
    margin: 5rem;
  }
  
  .perfect-cards-container h1 {
    display: flex;
    justify-content: center;
  }
  
  .perfect-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .perfect-card {
    border-radius: 8px;
    background-color: #0056b3;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    margin: 1rem;
    overflow: hidden;
    width: 18rem;
  }
  
  .card-img-top {
    width: 50px;
    height: 50px;
    margin-top: 1rem;
    margin-left: 7rem;
  }
  
  .card-body {
    padding: 0 1rem 1rem 1rem;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .testimonials {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
    margin-top: 2rem;
  }
  
  .testimonials h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
  }
  
  .testimonial-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
  }
  
  .testimonial-card {
    margin-top: 4rem;
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.5;
    background: Linear-gradient(180deg, #f5c43c 26.71%,#ec6b01 99.36%);
    width: 20rem;
    z-index: 1;
  }
  
  .testimonial-card.middle {
    transform: translateX(0) scale(1.2);
    opacity: 1;
    z-index: 3;
  }
  
  .testimonial-card.right {
    transform: translateX(120%) scale(0.9);
    opacity: 0.7;
    z-index: 2;
  }
  
  .testimonial-card.left {
    transform: translateX(-120%) scale(0.9);
    opacity: 0.7;
    z-index: 2;
  }
  
  .testimonial-card .card-img-top {
    margin-right: 5rem;
    width: 70px;
    border-radius: 8px 8px 0 0;
  }
  
  .testimonial-card .card-body {
    padding: 15px;
  }
  
  .testimonial-card .card-title {
    margin-bottom: 10px;
    font-size: 1.25rem;
    color: black;
  }
  
  .testimonial-card .card-text {
    font-size: 1rem;
    color: black;
  }
  
  /* email part */
  .subscribe-section {
    background-image: url('../assets/home/perfectTutor/yellow-envelope-gray-background-top-view-copy-space_93675-99786.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px 20px;
    border-radius: 0;
    color: black; /* Adjust text color for contrast */
    max-width: 100%; /* Full width */
    margin-top:60px;
    margin-bottom:0;
  }
  
  .subscribe-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .subscribe-heading {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .subscribe-paragraph {
    font-size: 1.2em;
    margin-bottom: 20px;
    color:black ;
  }
  
  .subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .subscribe-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .subscribe-button {
    padding: 10px 20px;
    background-color: #00BFFF; /* Adjust button color as needed */
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .subscribe-button:hover {
    background-color: #22CE83; /* Slightly darker shade on hover */
  }

