@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.tuition-center-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 1rem;
}

.tuition-center-card {
  position: relative;
  /* background-color: #ddddda; */
  width: 100%;
  max-width: 320px;
  perspective: 1000px; /* Provides a 3D space for the flip effect */
}

.tuition-center-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tuition-center-card:hover .tuition-center-card-inner {
  transform: rotateY(180deg);
}

.tuition-center-card-front,
.tuition-center-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.tuition-center-card-front {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
  padding: 1.5rem;
  border: 1px solid #e0e0e0;
  text-align: center;
}

.tuition-center-card-back {
  background: rgba(222, 222, 222, 0.9);
  backdrop-filter: blur(8px);
  padding: 1.5rem;
  border: 1px solid #e0e0e0;
  text-align: center;
  transform: rotateY(180deg);
}

.tuition-center-photo {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #ddd8d8;
  margin-bottom: 1rem;
}

.tuition-center-card-front h3 {
  margin: 0.5rem 0;
  font-size: 1.4rem;
  color: #333;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.tuition-center-card-front p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #666;
  font-family: 'Poppins', sans-serif;
}

.center-fees {
  text-align: left;
  margin-top: 1rem;
}

.center-fees ul {
  padding: 0;
  list-style-type: none;
}

.center-fees ul li {
  font-size: 0.9rem;
  color: #444;
  font-family: 'Poppins', sans-serif;
}

.tuition-center-card-back p,
.tuition-center-card-back h3 {
  margin: 0.5rem 0;
}

@media (max-width: 768px) {
  .tuition-center-card {
    width: 100%;
    max-width: 100%;
  }

  .tuition-center-photo {
    height: 150px;
  }
}

@media (max-width: 480px) {
  .tuition-center-card-front h3 {
    font-size: 1.2rem;
  }

  .tuition-center-card-front p {
    font-size: 0.9rem;
  }
}
