.tutor-reviews {
  margin-top: 3rem;
  padding: 2rem;
  background-color: white ;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tutor-reviews h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  text-decoration: underline;
  color: #38424B;
}

.reviews-list {
  margin-bottom: 2rem;
}

.review-item {
  padding: 1rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.user-name {
  color: #0c0c0c; /* Change this color to whatever you prefer */
  font-size: 1.2rem;
}

.review-item p {
  margin: 0.5rem 0;
}
.review-comment,.review-comment strong{
  color: #0c0c0c;
}

.review-rating {
  font-size: 1.3rem;
  color: #e03b12;
}

.star {
  font-size: 1.5rem;
  color: #ddd;
}

.star.filled {
  color: #e03b12;
}

.create-review {
  padding: 1rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-review h3 {
  margin-bottom: 1rem;
}

.review-input,
.rating-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.review-input {
  height: 8rem;
  resize: none;
}

.submit-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}
